/* Basico */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-crema: #F8F1DF;
    --color-celeste: #C0E1F4;
    --color-azul: #4580AC;
    --color-naranja: #FFDAA5;
    --color-rosa: #FBDBC4;
    --color-verde: #E2DD7F;
    --color-grissuperclaro: #ECECEC;
    --color-grisclaro: #F1F1F1;
    --color-grismedio: #AFAFAF;
    --color-grisiscuro: #7D7979;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
}

*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body {
    background-color: #f8f1df;
}

.wrapper {
    max-width: 100%;
    padding: 10px;
}

/* Navegación */

nav {
    background-color: #4580AC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.logo h1 {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 60px; /* Ajusta esto según la altura de tu barra de navegación */
    left: 0;
    right: 0;
    background-color: var(--color-celeste);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.mobile-menu.active {
    display: block;
}

.searchbox {
    display: flex;
    margin-bottom: 10px;
}

.searchbox input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #4580AC;
}

.boton-buscador {
    background-color: #4580AC;
    color: white;
    border: none;
    padding: 5px 10px;
}

.mobile-menu ul li a {
    color: #4580AC;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu-button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-blanco); /* Ajusta este color según tu diseño original */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mobile-menu-button:hover {
    background-color: var(--color-grissuperclaro); /* Un tono más oscuro para el hover */
}

.mobile-menu-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333; /* Ajusta este color según tu diseño original */
    font-weight: bold;
}

.mobile-menu-button i {
    margin-right: 10px;
    font-size: 1.2em;
}

.carrito-contador {
    background-color: var(--color-azul); /* Ajusta este color según tu diseño original */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8em;
    margin-left: 5px;
}

/* Categorías */
.categorias {
    margin-top: 20px;
}

#categoria-select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.seccion-titulo{
    margin-top: 20px;
    background-color: var(--color-naranja);
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.seccion-titulo1{
    margin-top: 20px;
    background-color: var(--color-rosa);
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seccion-titulo2 {
    margin-top: 20px;
    background-color: var(--color-naranja);
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seccion-titulo3 {
    margin-top: 20px;
    background-color: var(--color-rosa);
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Secciones de libros */

.libros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.libro {
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.libro img {
    max-width: 100%;
    height: auto;
}

.libro-detalles a {
    text-decoration: none;
    color: inherit;
}

.libro-detalles p {
    margin-top: 5px;
    font-size: 0.9rem;
}

/* Footer */
footer {
    background-color: #C0E1F4;
    padding: 20px;
    margin-top: 30px;
}

.footer-redes {
    text-align: center;
    margin-bottom: 20px;
}

.footer-redes a {
    font-size: 1.5rem;
    color: #4580AC;
    margin: 0 10px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color: #4580AC;
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
}

/*carrito*/

.titulo-principal-carrito {
    color: var(--color-azul);
    margin-bottom: 20px;
}

.contenedor-carrito {
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.carrito-vacio {
    text-align: center;
    color: var(--color-grisiscuro);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.carrito-acciones-vaciar {
    background-color: var(--color-grisclaro);
    color: var(--color-grisiscuro);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carrito-acciones-total {
    display: flex;
    gap: 10px;
    align-items: center;
}

.carrito-acciones-pagar {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* INDEX */

@media (max-width: 768px) {
    .wrapper {
        padding: 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo h1 {
        font-size: 1.5em;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 1.5em;
    }

    .contenedor-producto-detalles {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        .producto-detalles-libro-imagen {
            margin-top: 20px;
            padding: 20px;
            border-radius: .5rem;
            background-color: var(--color-blanco);
            width: 100%;
            text-align: center;
        }
    
        .producto-detalles-imagen {
            max-width: 40%;  /* Ajusta este valor según lo necesites */
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }

    .producto-detalles {
        width: 100%;
        padding: 20px 0;
    }

    .producto-detalles-titulo,
    .producto-detalles-precio {
        text-align: center;
    }

    .producto-detalles-info-pago {
        text-align: center;
    }

    .producto-detalles-tarjetas {
        justify-content: center;
    }

    .producto-detalles-tarjetas-imagen{
        max-width: 10%;
    }

    .producto-detalles-boton-agregar {
        width: 100%;
        margin-top: 20px;
    }

    .barra-botones {
        display: flex;
        justify-content: space-around;
        background-color: var(--color-naranja);
        padding: 3%;
        border-radius: .5rem;
    }

    .producto-detalles-boton-detalles,
    .producto-detalles-boton-reseñas {
        width: 45%;
    }

    .detalles-contenido {
        padding: 15px;
    }

    @media (max-width: 768px) {
        .mobile-menu-button {
            width: 100%;
            padding: 10px;
            background-color: #f0f0f0;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: left;
        }
    
        .mobile-menu-button a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
    
        .mobile-menu-button i {
            margin-right: 10px;
            font-size: 1.2em;
        }
    
        .producto-detalles-boton-agregar {
            width: 100%;
            padding: 15px;
            background-color: var(--color-azul);  /* Ajusta este color según tu diseño */
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1em;
            font-weight: bold;
            margin-top: 20px;
            cursor: pointer;
        }
    
        .producto-detalles-boton-detalles,
        .producto-detalles-boton-reseñas {
            width: 45%;
            padding: 10px;
            background-color: #f0f0f0;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
        }
    
        .producto-detalles-boton-detalles.active,
        .producto-detalles-boton-reseñas.active {
            background-color: var(--color-azul);
            color: white;
        }
    
        .ver-medios-pago {
            background: none;
            border: none;
            color: var(--color-azul);
            text-decoration: underline;
            cursor: pointer;
            padding: 5px 0;
            font-size: 0.9em;
        }
    }
}

/* PRODUCTO DETALLES */